@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

  &::-webkit-scrollbar {
    width: 8px;
    /* width of the entire scrollbar */
  }

  &::-webkit-scrollbar-track {
    border-radius: 5px;
    /* color of the tracking area */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #cecece;
    /* color of the scroll thumb */
    border-radius: 5px;
    /* roundness of the scroll thumb */
    border: 2px solid #cecece;
    /* creates padding around scroll thumb */
  }

}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background: '#f7f6f6'
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
  
}

a {
  /* color: inherit; */
  text-decoration: none !important;
}